@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  -webkit-tap-highlight-color: transparent;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
